/*
	Outlook doesn't like padding on paragraph, div or anchor tags.
*/

img.header-alt-txt, img.footer-alt-txt{
	font-family: OgilvySans, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}

/* Hero Section */

img.hero-alt-txt{
	font-family: OgilvySans, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	word-wrap: normal;
}

.hero-h1, .hero-h1 a {
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 38px;
	padding: 0;
}

.hero-body-txt{
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	padding-top: 10px;
}

.body-text, .body-text-bold, .cta-text {
	font-family: OgilvySans, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
}
.body-text {
	color: #545659;
	font-weight: normal;
}
.body-text-bold {
	color: #545659;
	font-weight: bold;
}

.cta-text {
	color: #eb3f43;
}
/* Recap Links Section 

td.mod-recap-title{
	color: #eb3f43;
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 5px;
}
.mod-recap-body-txt, .mod-recap-body-txt a{
	color: #000000;
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
}
td.mod-recap-body-txt{
	padding-top: 10px;
}
img.mod-img-alt-txt{
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
}*/



/* Footer */

.footer-txt, .social-txt{
	color: #000000;
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
}

.footer-txt{
	font-style: italic;
}
.social-txt{
	font-style: normal;
	text-decoration: none;
}

