/* 
	Card Modules
*/
.mod-card-container {
	display: inline-block;
}
.mod-card-wrapper, .mod-img-wrapper, img.mod-img{
	width: 277px;
	max-width: 277px;
}
.mod-card-container-inner{
	padding: 13px;
}
.mod-img-container {
	padding-bottom: 10px;
}

.mod-full-card-wrapper, .mod-img-wrapper {
	width: 100%;
	height:auto;
	/*max-height: 500px;*/
	max-width: 580px;
}

/* Card Module title */

.card-title, .card-title a, .card-title span{
	color: #000000;
	font-family: OgilvySans, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}
td.card-title{
	padding-bottom: 10px;
}

/* 
	Exec Message Module 
*/

table.mod-exec-wrapper{ 
	/*table-layout: fixed;*/
	vertical-align: top;
	width: 100%;
}

table.mod-exec-wrapper th {
	/*display: inline-block;*/
}

*.mod-exec-img {
	width: 125px;
	max-width: 125px;
}
th.mod-exec-img {
	padding-right: 30px;
}
img.cta-arrow { 
	display: inline-block; 
	vertical-align: middle; 
	width: 11px;
	padding-bottom: 2px;
}